@import '//at.alicdn.com/t/font_2034516_n20ofmddq6g.css';
@import './assets/css/css/index.css';
@import '../node_modules/antd/dist/antd.css';
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  user-select: none;
}
:root {
  --color1: #999;
}
.cv1 {
  color: var(--color1);
}